@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blurReveal {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.font-inter {
  font-family: 'Inter', sans-serif;
}