pandas
numpy
matplotlib
scikit-learn
flask
xgboost
seaborn
tensorflow
phidata
groq
openai
pgvector
python-dotenv
psycopg[binary]
duckdb
sqlalchemy
requests==2.31.0
groq
phidata
mysql-connector-python